<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator-vue</title>
    <link rel="stylesheet" href="calcStyle.css">
</head>
<body>
    <main>
        <div id="app" class="container">
            <div class="calculator" v-if="kondisi === 'kalkulator'">
                <div class="content-title" @click="changeKondisi('jadwal')">
                    <h1>Casio.</h1>
                </div>
                <form>
                    <div>      
                        <div class="display">
                            <input type="text" name="display" v-model="display">
                        </div>
                        <div>
                            <input type="button" value="AC" @click="allClear()" class="operator">
                            <input type="button" value="DE"  @click="deleting()" class="operator">
                            <input type="button" value="." @click="appendToDisplay('.')">
                            <input type="button" value="/" @click="appendToDisplay('/')" class="operator">
                        </div>
                        <div>
                            <input type="button" value="7" @click="appendToDisplay('7')">
                            <input type="button" value="8" @click="appendToDisplay('8')">
                            <input type="button" value="9" @click="appendToDisplay('9')">
                            <input type="button" value="*" @click="appendToDisplay('*')" class="operator">
                        </div>
                        <div>
                            <input type="button" value="4" @click="appendToDisplay('4')">
                            <input type="button" value="5" @click="appendToDisplay('5')">
                            <input type="button" value="6" @click="appendToDisplay('6')">
                            <input type="button" value="-" @click="appendToDisplay('-')" class="operator">
                        </div>
                        <div>
                            <input type="button" value="1" @click="appendToDisplay('1')">
                            <input type="button" value="2" @click="appendToDisplay('2')">
                            <input type="button" value="3" @click="appendToDisplay('3')">
                            <input type="button" value="+" @click="appendToDisplay('+')" class="operator">
                        </div>
                        <div>
                            <input type="button" value="00" @click="appendToDisplay('00')">
                            <input type="button" value="0" @click="appendToDisplay('0')">
                            <input type="button" value="=" class="equal" @click="evaluate()" class="operator">
                        </div>

                    </div>
                </form>
            </div>
            <div class="calculator" v-else id="app">
                <div class="content-title" @click="changeKondisi('kalkulator')">
                    <h1>Jadwal</h1>
                </div>
                <div class="content-jadwal">
                    <h3>{{matkul1}}</h3>
                    <h3>{{matkul2}}</h3>
                    <h3>{{matkul3}}</h3>
                    <h3>{{matkul4}}</h3>
                </div>
            </div>
        </div>

    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>